:root {
    /* Colors */
    --color-text: #F9F1F3; 
    --color-text-dark: #272640;
    --color-primary: #ffadcd;
    --color-secondary: #7b287b;
    --color-dark: #4d194d; 
    --color-background: #3a2047; 

    /* Fonts */
    --font-roboto: 'Roboto', sans-serif;
}